/* App.js */

.App {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  background-color: #000;
}

.LeftPan {
  width: 65%;
  height: 100vh;
  background-color: #212121;
}

.RightPan {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100vh;
  background-color: #ffffff;
}

.Cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Content {
  flex: 1;
}

/* Slideshow */
.nav {
  display: none;
}

.image-container img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* Header.js */

.Header {
  display: flex;
  flex-flow: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.FullScreen {
  margin-left: 1em;
}

.Action {
  list-style: none;
  display: flex;
}

.Action li {
  margin: 0 1em;
  cursor: pointer;
}

/* Pagination.js */

.Pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.Previous, .Next {
  cursor: pointer;
}

/* Projects.js */

.Projects h2 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 300;
  margin-left: .6em;
  margin-top: 2em;
}

.GalleryRow img {
  margin: 0 .2em;
  width: 12em;
  height: 12em;
  background: #212121;
  transition: 300ms
}

.GalleryRow img:hover {
  background: #61DAFB;
}

/* Skills.js */

.Skills h2 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 300;
  margin-left: .6em;
  margin-top: 2em;
  margin-bottom: 0;
}
.FrontEnd h2 {
  font-size: 1.4em;
  font-weight: 400;
  color: #212121;
  text-align: left;
  margin-left: 6%;
  margin-top: 2em;
}
.Design h2 {
  font-size: 1.4em;
  font-weight: 400;
  color: #212121;
  text-align: left;
  margin-left: 6%;
  margin-top: 2em;
}
.Box {
  background: #ffffff;
  width: 87%;
  margin: auto;
}
.Box h3 {
  font-size: 1em;
  font-weight: 300;
  color: #C5C5C5;
  text-align: left;
  margin-bottom: .1em;
}
.Scrollbar {
  height: .5em;
  width: 100%;
  background: #E9E9E9;
}

.ScrollbarFill {
  width: 0%;
  height: 100%;
  background: #000;
}

.P75 {
  width: 75%;
  animation: P75f 2s cubic-bezier(0.91, 0, 0.41, 1);
}
.P65 {
  width: 65%;
  animation: P65f 2s cubic-bezier(0.91, 0, 0.41, 1);
}
.P90 {
  width: 90%;
  animation: P90f 2s cubic-bezier(0.91, 0, 0.41, 1);
}
.P50 {
  width: 50%;
  animation: P50f 2s cubic-bezier(0.91, 0, 0.41, 1);
}
.P98 {
  width: 98%;
  animation: P98f 2s cubic-bezier(0.91, 0, 0.41, 1);
}
@keyframes P75f {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

@keyframes P65f {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes P90f {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes P50f {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes P98f {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

/* Contact */

.Contact h2 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 300;
  margin-left: .6em;
  margin-top: 2em;
}

.InputField {
  text-align: left;
  margin-left: 2.6em;
}
.InputAlign {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.InputField label {
  font-size: 1.1em;
}

.InputField input,
.InputField textarea {
  border: 1px solid #eee;
  font-size: 1em;
  padding: .8em 1em;
  margin-bottom: 2em;
}

.InputField input {
  width: 15.8em;
}

.InputField:nth-child(2) {
  margin-left: 1em;
}

.InputField input:focus,
.InputField textarea:focus {
  outline: none;
}

.InputField textarea {
  font-size: 1.3em;
  resize: none;
  width: 32.7em;
}

.Send {
  width: 10em;
  border: none;
  background: #212121;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  font-size: 1em;
  padding: .8em 0;
  margin-bottom: 2em;
  margin-right: 2.6em;
  float: right;
  transition: 300ms
}

.Send:hover {
  -webkit-box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.2);
     -moz-box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.2);
          box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.2);
}

/* About.js */

.About h2 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 400;
  margin-left: .6em;
  margin-top: 2em;
  margin-bottom: .2em;
  letter-spacing: 1px;
}
.About h5 {
  font-weight: 300;
  font-size: 1em;
  text-align: left;
  text-transform: uppercase;
  margin-left: 3em;
  margin-bottom: 4em;
  color: #b8b8b8;
}
.About p {
  text-align: left;
  max-width: 80%;
  font-size: 1.1em;
  color: #212121;
  line-height: 2em;
  margin-left: 2.6em;
}

/* Hamburger.js */

.Hamburger {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 2.9em;
  height: 2.5em;
  padding-top: .5em;
  padding-bottom: .3em;
  padding-right: .2em;
  cursor: pointer;
  transition: 300ms
}

.Hamburger:hover {
  background: rgba(0, 0, 0, 0.6)
}

/* Menu.js */

.Menu {
  z-index: 998;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.Menu h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  color: rgba(250, 250, 250, 0.7);
  transition: 300ms;
}

.Menu h3:hover {
  color: #fff;
}

/* Responsivity */

@media (max-width: 1224px) {
  body {
    overflow-y: auto;
  }
  .App {
    flex-direction: column;
  }
  .LeftPan {
    width: 100%;
    height: 100vh;
  }
  .RightPan {
    width: 100%;
  }
  .Hamburger, .Menu {
    position: fixed;
  }
  .Projects h2,
  .Contact h2,
  .Skills h2,
  .About h2 {
    margin-top: auto;
  }
  .InputAlign {
    justify-content: center;
  }
  .InputField {
    text-align: center;
    margin-left: 0;
  }
  .Send {
    float: none;
  }
  .MobileIndication {
    top: 10vh;
    opacity: .4;
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 7em;
    letter-spacing: 4px;
  }
}

@media (min-width: 1224px) {
  .MobileIndication {
    display: none;
  }
}

@media (max-width: 468px) {
  .MobileIndication {
    top: 20vh;
    font-size: 4em;
  }
}

@media (max-width: 599px) {
  .Gallery {
    display: flex;
  }
  .Gallery img {
    width: 90%;
    height: 12em;
  }
  .InputAlign {
    flex-direction: column;
  }
  textarea {
    max-width: 15em;
  }
  .InputField:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 355px) {
  .Projects h2,
  .Contact h2,
  .Skills h2,
  .About h2 {
    text-align: center;
  }
  .FrontEnd h2, .Design h2 {
    text-align: left;
    margin-top: 1em;
  }
  .Header {
    display: none;
  }
  .Gallery {
    display: flex;
    flex-direction: column;
  }
  .Gallery img {
    width: 90%;
    height: 12em;
  }
}
